div.about-img-pc {
    display: none;
    @include mq(xl) {
        display: block;
        width: 150%;
        margin-right: 2rem;
    }
}

.about-text p {
    line-height: 4;
    white-space: pre-line;
    @include mq(xl) {
        line-height: 3;
        margin: 0rem;
    }
}

#about {
    position: relative;
    display: block;
}

h2.space {
    margin-top: 20rem;
}