div.about-img-pc {
    display: none;
    @include mq(xl) {
        display: block;
        width: 100%;
        margin: 8rem;
    }
}

.about-text p {
    line-height: 4;
    white-space: pre-line;
    @include mq(xl) {
        line-height: 3;
        margin: 8rem;
    }
}

#about {
    position: relative;
    display: block;
}