@mixin blur-bg {
    content: "";
    position: absolute;
    width: 100%;
    height: 50%;
    border-radius: 50%;
    filter: blur(2vw);
    z-index: -100;
}



.bubble-bg-green {
    @include blur-bg;
    bottom: -15rem;
    left: -16rem;
    background: radial-gradient(50% 50%, rgba(170,188,75,.6), rgba(170,188,75,.05));
}

