@mixin blur-bg {
    content: "";
    position: absolute;
    border-radius: 50%;
    filter: blur(2vw);
    z-index: -100;
}


.bubble-bg-green {
    @include blur-bg;
    width: 100%;
    height: 38%;
    bottom: -15rem;
    left: -18rem;
    background: radial-gradient(50% 50%, rgba(170,188,75,.6), rgba(170,188,75,.05));
}

.bubble-bg-orange {
    @include blur-bg;
    width: 52%;
    height: 9%;
    top: 35rem;
    left: 17rem;
    background: radial-gradient(50% 50%, rgba(239,168,64,.6), rgba(239,168,64,.05));
}
.bubble-bg-purple {
    @include blur-bg;
    width: 96%;
    height: 20%;
    bottom: -15rem;
    left: -16rem;
    background: radial-gradient(50% 50%, rgba(156,156,198,.6), rgba(156,156,198,.05));
}
