a .btn-contact {
    @include submit-btn;
    white-space: pre-line;
    height: 7rem;
    width: 13rem;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

#contact .container {
    background-color: $purple;
    margin: 20rem 0 0 -4rem;
    height: auto;
    padding: 4rem;
    color: white;
    .section-title-box {
        margin-top: 0;
    }
}

#contact {
    margin: 0;
    h2 {
        margin: 0;
    }
}

.contact-box {
    display: flex;
    justify-content: space-between;
    text-align: center;
}