a .btn-contact {
    @include submit-btn;
    white-space: pre-line;
    height: 7rem;
    width: 13rem;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    @include mq(md) {
        width: 19rem;
    }
    @include mq(lg) {
        width: 38rem;
        height: 12rem;
    }
    @include mq(xl) {
        margin-right: 3rem;
        height: 10rem;
        width: 38rem;
    }
}

#contact .container {
    background-color: $purple;
    margin: 20rem 0 0 -4rem;
    height: auto;
    padding: 4rem;
    color: white;
    .section-title-box {
        margin-top: 0;
    }
    @include mq(xl) {
        flex-direction: column;
        margin: 20rem 0 0 -20rem;
        align-items: flex-start;
        padding-left: 20rem;
        width: 80vw;
        h2 {
            margin: 2rem 0rem;
        }
    }
}

#contact {
    margin: 0;
    
    h2 {
        margin: 0 0 2rem;
        @include mq(md) {
            margin: 0rem;
        }
        @include mq(xl) {
            margin: 0 2rem;
        }
    }
    p {
        margin: 0 0 2rem;
        @include mq(md) {
            margin: 3rem 0rem;
        }
    }
}

.contact-box {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.no-padding {
    padding-top: 0;
}