.service-card {
    margin-bottom: 15rem;
    .service-img-box {
        padding: 2rem 5rem;
    }
    img {
        width: 100%;
    }
    p {
        font-size: 1.4rem;
        line-height: 3;
    }
}