.service-card {
    margin-bottom: 15rem;
    @include mq(lg) {
        margin: 5rem 10rem;
    }
    @include mq(xl) {
        width: calc(33.33% - 4rem);
        margin: 0rem;
        margin-bottom: 10rem;
    }
    .service-img-box {
        padding: 2rem 5rem;
        @include mq(xl) {
            padding: 0;
        }
    }
    img {
        width: 100%;
    }
    p {
        line-height: 3;
    }
}